<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de alumnos</title>
</head>
<body>

	<table border="3">
	
		<tr>
		
			<th>Código</th>
			<th>Apellido</th>
			<th>Nombre</th>
			<th>Distrito</th>
			<th>Dirección</th>
		
		</tr>
	
		<tr th:each = "objA : ${alumnos}">
		
			<td th:text = ${objA.codigo}></td>
			<td th:text = ${objA.ape}></td>
			<td th:text = ${objA.nom}></td>
			<td th:text = ${objA.distrito}></td>
			<td th:text = ${objA.direccion}></td>
		
		</tr>
	
	
	
	
	</table>



</body>
</html>