<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de alumnos</title>
</head>
<body>

	<table>
	
		<tr>
		
			<th>Código</th>
			<th>Estudiante</th>
			<th>Sección</th>
			<th>Correo</th>
			<th>Distrito</th>
			<th>Provincia</th>
			<th>Departamento</th>
			<th>DNI</th>
			<th>Modalidad ingreso</th>
			<th>Semestre ingreso</th>
		
		</tr>
		
		<tr>
		
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		
		</tr>
	
	</table>


</body>
</html>