<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
</head>

<body style="background-image:url(../img/img4.jpg);
            background-attachment: fixed;
            background-position: fill;
            background-repeat: no-repeat;
            background-size: 100%">
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <a class="navbar-brand" href="#">Comedor popular: Virgen de las Mercedes</a>

        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav">

			<li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listaMenus">Menús</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listaPlatos">Platos</a>
            </li>

			<li class="nav-item">
                <a class="nav-link" href="/listaInsumos">Insumos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listaEmpleados">Empleados</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listaClientes">Clientes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cerrarSesion" onclick="return confirm('¿Seguro que desea cerrar sesión?')">Cerrar Sesión</a>
            </li>

        </ul>
    </nav>

    <div class="container" style="background-color: rgba(255, 255, 255, 0.5);">
		<h1 th:text="${titulo}" style="background-color: #C29B61; color: #804000;"></h1>
			
			<form>
				<input type = "text" name = "nomIns" placeholder = "Insumo">
				<input type="submit" value = "Buscar">
			</form>
			
		<p><a th:href="@{/formInsumo}" class="btn btn-success btn-xs">Crear insumo</a></p>
		<table class="table">
			<thead>
				<tr>
					<th>Código</th>
					<th>Insumo</th>
					<th>Cantidad</th>
					<th>Unidad(es)</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="i: ${listaInsumos}">
					<td th:text="${i.cod}"></td>
					<td th:text="${i.insumo}"></td>
					<td th:text="${i.cantidad}"></td>
					<td th:text="${i.unidad}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/formInsumo/} + ${i.cod}" th:text="'Editar'"></a></td>
					<td><a class="btn btn-danger btn-xs" th:href="@{/eliminarInsumo/} + ${i.cod}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar el insumo?');"></a></td>
				</tr>
			</tbody>

		</table>

    </div>

    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>