<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario de registro</title>
</head>
<body>

	<form th:action = "@{/registrar}" method = "post">

		<div>
			<label>Código</label>
			<input type = "text" name = "codigo">
		</div>
		
		<div>
			<label>Apellido</label>
			<input type = "text" name = "ape">
		</div>
		
		<div>
			<label>Nombre</label>
			<input type = "text" name = "nom">
		</div>
		
		<div>
			<label>Distrito</label>
			<input type = "text" name = "distrito">
		</div>
		
		<div>
			<label>Dirección</label>
			<input type = "text" name = "direccion">
		</div>

		<div>
			<input type = "submit" value = "Registrar Alumno" name = "btnRegistrar">
		</div>
		
	</form>
	
</body>
</html>